<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
    <meta name="description" content="Matematica online. Cele mai importante formule din matematica, formule algebra, formule geometrie, trigonometrie, algebra superioara, analiza matematica. Anunturi gratuite meditatii, anticariat.">
    
    <script type="text/javascript" src="/new/js/ajax_js.js"></script>                        
    <link href='//fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    
      
    
    
</head>
<body>
	<h1>Pagina de test</h1>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <div>Aici scriu eu ce vreau eu pentru ca asa imi place.</div>
</body>
</html>