<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'My Holidays FIRST PAGE'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description"  th:attr="content='My Holidays beggining of a REACT page'">    
    <link rel="stylesheet" th:href="${cssPath} + 'main.css'" /> 
      
</head>
<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="/admin/">My Holiday</a> <span>The list of holidays</span></h1>
					<nav id="nav">
						<ul><li>Test REACT</li></ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2 th:text="${title}"></h2>
						<p th:text="${subtitle}"></p>
					</header>
					<div class="box">
						<div id="app">
						    <div class="like_button_container" id="like_button_container"></div>
						    <div id='root'></div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; 2019, irisoft.com.ro. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script th:src="${jsPath} + 'jquery.min.js'"></script>
			<script th:src="${jsPath} + 'jquery.dropotron.min.js'"></script>
			<script th:src="${jsPath} + 'jquery.scrollex.min.js'"></script>
			<script th:src="${jsPath} + 'browser.min.js'"></script>
			<script th:src="${jsPath} + 'breakpoints.min.js'"></script>
			<script th:src="${jsPath} + 'util.js'"></script>
			<script th:src="${jsPath} + 'main.js'"></script>
			
			<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  			<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  			<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
			<script th:src="${jsPath} + 'react/like_button.js'" type="text/babel"></script>

</body>
</html>